Source: ros-melodic-robot-self-filter
Section: misc
Priority: extra
Maintainer: Devon Ash <dash@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), libassimp-dev, libbullet-dev, libtinyxml-dev, ros-melodic-catkin, ros-melodic-cmake-modules, ros-melodic-filters, ros-melodic-pcl-ros, ros-melodic-resource-retriever, ros-melodic-roscpp, ros-melodic-sensor-msgs, ros-melodic-tf, ros-melodic-urdf, ros-melodic-visualization-msgs
Homepage: http://ros.org/wiki/robot_self_filter
Standards-Version: 3.9.2

Package: ros-melodic-robot-self-filter
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libassimp-dev, libbullet-dev, libtinyxml-dev, ros-melodic-filters, ros-melodic-pcl-ros, ros-melodic-resource-retriever, ros-melodic-roscpp, ros-melodic-sensor-msgs, ros-melodic-tf, ros-melodic-urdf, ros-melodic-visualization-msgs
Description: Filters the robot's body out of point clouds.
