Source: ros-indigo-robot-self-filter
Section: misc
Priority: extra
Maintainer: Devon Ash <dash@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), libassimp-dev, libbullet-dev, ros-indigo-catkin, ros-indigo-filters, ros-indigo-pcl-ros, ros-indigo-resource-retriever, ros-indigo-roscpp, ros-indigo-sensor-msgs, ros-indigo-tf, ros-indigo-urdf, ros-indigo-visualization-msgs
Homepage: http://ros.org/wiki/robot_self_filter
Standards-Version: 3.9.2

Package: ros-indigo-robot-self-filter
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libassimp-dev, libbullet-dev, ros-indigo-filters, ros-indigo-pcl-ros, ros-indigo-resource-retriever, ros-indigo-roscpp, ros-indigo-sensor-msgs, ros-indigo-tf, ros-indigo-urdf, ros-indigo-visualization-msgs
Description: Filters the robot's body out of point clouds.
