Source: ros-lunar-robot-self-filter
Section: misc
Priority: extra
Maintainer: Devon Ash <dash@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), libassimp-dev, libbullet-dev, libtinyxml-dev, ros-lunar-catkin, ros-lunar-cmake-modules, ros-lunar-filters, ros-lunar-pcl-ros, ros-lunar-resource-retriever, ros-lunar-roscpp, ros-lunar-sensor-msgs, ros-lunar-tf, ros-lunar-urdf, ros-lunar-visualization-msgs
Homepage: http://ros.org/wiki/robot_self_filter
Standards-Version: 3.9.2

Package: ros-lunar-robot-self-filter
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libassimp-dev, libbullet-dev, libtinyxml-dev, ros-lunar-filters, ros-lunar-pcl-ros, ros-lunar-resource-retriever, ros-lunar-roscpp, ros-lunar-sensor-msgs, ros-lunar-tf, ros-lunar-urdf, ros-lunar-visualization-msgs
Description: Filters the robot's body out of point clouds.
